services:
  app:
    build: .
    ports:
      - "4000:4000"
    environment:
      - DATABASE_URL=mysql://root:admin@db:3306/assetguard
      - PORT=4000
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: assetguard
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
